<!-- FOOTER -->
<footer id="footer">
    <div class="container mt-0">
        <div class="row">
          <!-- col #1 -->
          <div class="col-md-8">

            <h3 class="letter-spacing-1">WHY US?</h3>

            <!-- Small Description -->
            <p>
              We are a family owned and operated company that has been in the industry since 1976. Our goal is to offer the best products at the best price.
            </p>
            <h2>1 581-701-0303</h2>
          </div>
          <!-- /col #1 -->

          <!-- col #2 -->
          <div class="col-md-4">
            <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

            <!-- Newsletter Form -->
            <p>Subscribe to Our Newsletter to get Important News & Offers</p>

            <form class="validate" action="" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
                <span class="input-group-btn">
										<button class="btn btn-warning" type="submit">Subscribe</button>
									</span>
              </div>
            </form>
            <!-- /Newsletter Form -->
          </div>

        </div>

      <div class="copyright">
        <div class="container">
          &copy; All Rights Reserved, Rocket Elevator LTD
        </div>
      </div>
    </div>
</footer>